www/wp-content/uploads
vendor
*.sqlite
*.log

www/wp-config.php
www/wp-content/advanced-cache.php
www/wp-content/backup-db/
www/wp-content/backups/
www/wp-content/blogs.dir/
www/wp-content/cache/
www/wp-content/upgrade/
www/wp-content/uploads/
www/wp-content/mu-plugins/
www/wp-content/wp-cache-config.php
www/wp-content/plugins/hello.php

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz